<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/_Assets/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
    @Html.Partial("_Menu")

    <div id="wrap">
        <div class="container clear-top" id="main">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/_Assets/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
